doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Signup
  link(rel='stylesheet' href='/signup.css')

.signup-container
  .signup-card
    h2 Signup

    if error
      p.error-message= error

    form.signup-form(action='/signup' method='post')

      .form-group
        .input-icon-wrapper
          input(
            type='text'
            name='fullName'
            placeholder='Enter your full name'
            required=''
          )

      .form-group
        .input-icon-wrapper
          input(
            type='email'
            name='email'
            placeholder='Enter your email'
            required=''
          )

      .form-group
        .input-icon-wrapper
          input(
            type='text'
            name='phone'
            placeholder='Enter your phone number'
            required=''
          )

      .form-group
        .input-icon-wrapper
          input(
            type='password'
            name='password'
            placeholder='Enter your password'
            required=''
          )

      .form-group
        .input-icon-wrapper
          input(
            type='password'
            name='confirmPassword'
            placeholder='Confirm your password'
            required=''
          )

      button.btn-signup(type='submit') SIGNUP

      .auth-footer
        | Have an account -
        a(href='/login') Login